body{
	color: #6A6A6A;
	text-align: center;
}
i{
	font-size: 50px;
}
div{
	border: solid;
	width: 200px;
	height: 300px;
	float: left;
	margin-left: 5px;
	margin-top: 20px;
	background-color: #FBFBFB;
	padding: 15px
}
.texto{
	font-family: 
}
.texto1{
	font-family: 
}
.texto2{
	font-family:
}