@import 'https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i';

* {
	box-sizing: border-box;
}

body {
	color: #6A6A6A;
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

ul.menu {
	list-style: none;
	margin: 40px 80px;
	padding: 0;
}

.menu-item {
	width: 220px;
	height: 300px;
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	background-color: #FBFBFB;
	padding: 20px 10px 10px 10px;
	transition: all .25s ease;
	box-shadow: 1px 1px 5px #000000;
}

.menu-item:hover {
	width: 230px;
	height: 350px;
	color: #A9BADB;
	transform: scale(1.1);
	padding: 25px 15px 15px 15px;
}

.menu-item *[class*="icon"] {
	font-size: 3rem; /* 4 x (Tamaño de  fuente del elemento ROOT: body ó html) */
}

.menu-item h5{
	font-size: 1.15rem;
	font-weight: 700; /* bold */
}

.menu-item p:nth-child(3){
	font-style: italic;
	font-size: 0.8rem;
	font-weight: 400; /* normal */
	color: #6A6A6A;
}

.menu-item p:last-child {
	font-size: 0.8rem;
	font-weight: 300; /* ligth */
}

